includes:
	- vendor/phpstan/phpstan-symfony/extension.neon

parameters:
	paths:
		- src

	fileExtensions:
		- php

	symfony:
		container_xml_path: var/cache/dev/Magephi_KernelDevDebugContainer.xml
		console_application_loader: tests/console-application.php

	ignoreErrors:
		# False positive from the php documentation
		- "#Offset 'extension' does not exist on array#"
