includes:
  - vendor/phpstan/phpstan-symfony/extension.neon

parameters:
  paths:
      - src

  fileExtensions:
      - php

  ignoreErrors:
      - '#Property [a-zA-Z0-9\\_]+::\$[a-zA-Z0-9\\_]+ type has no value type specified in iterable type Symfony\\Component\\Process\\Process#'
      - '#Method [a-zA-Z0-9\\_]+::[a-zA-Z\\_]+\(\) return type has no value type specified in iterable type Symfony\\Component\\Process\\Process#'
